<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KingAcademy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body class="bg-gray-950">
  <header class="bg-gray-900 flex justify-between items-center h-14">
    <div class="ml-5">
      <p class="font-roboto text-xl font-bold text-white">KingAcademy</p>
    </div>

    <div class="flex items-center mr-5">
      {% if signed == True %}
      <div class="flex items-center justify-center mr-5 bg-gray-800 h-10 w-28 rounded-lg">
        <img class="w-7 h-7 rounded-full mr-2" src="{{ user_email | gravatar }}" alt="user_avatar">
        <p class="text-white text-base font-roboto">{{user_name}}</p>
      </div>
      <button
        class="w-28 h-7 mr-5 rounded-lg no-underline text-white cursor-pointer transition duration-150 hover:bg-gray-800"
        onclick="goToPage('/upload')">Enviar Video</button>
      <form action="/signout" method="post">
        <button
          class="w-12 h-7 rounded-lg no-underline text-white cursor-pointer transition duration-150 hover:bg-gray-800 hover:text-red-500"
          type="submit">Sair</button>
      </form>
      {% else %}
      <button
        class="w-20 mr-5 h-7 rounded-lg no-underline text-white cursor-pointer transition duration-150 hover:bg-gray-800"
        onclick="goToPage('/signin')">Entrar</button>
      <button
        class="w-24 h-7 rounded-lg no-underline text-white cursor-pointer transition duration-150 hover:bg-gray-800"
        onclick="goToPage('/signup')">Cadastrar</button>
      {% endif %}
    </div>

  </header>
  <div class="container">

  </div>

  <script>
    function goToPage(page) {
      window.location.href = page;
    }
  </script>
</body>

</html>